<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SecureStorageSyncClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SecureStorageSyncClient.Properties.Settings>
            <setting name="max_msg_size" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="fragment_size" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="key_loc" serializeAs="String">
                <value>C:\tmp\secure_storage_test\key</value>
            </setting>
            <setting name="keystore_pass" serializeAs="String">
                <value>abc</value>
            </setting>
            <setting name="local_folder" serializeAs="String">
                <value>c:\tmp\client_sync_test</value>
            </setting>
        </SecureStorageSyncClient.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStorageService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62746/StorageService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStorageService"
                contract="ServiceReference.IStorageService" name="BasicHttpBinding_IStorageService" />
        </client>
    </system.serviceModel>
</configuration>